appnope==0.1.0
appscript==1.0.1
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
cv2==1.0
cycler==0.9.0
Cython==0.23.4
Flask==0.10.1
funcsigs==0.4
functools32==3.2.3.post2
futures==3.0.3
jedi==0.9.0
Jinja2==2.8
jsonschema==2.4.0
MarkupSafe==0.23
numpy==1.10.1
pbr==1.8.1
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
Pillow==3.0.0
ply==3.8
requests==2.8.1
six==1.10.0
SQLAlchemy==1.0.9
ujson==1.33
unicodecsv==0.14.1
Werkzeug==0.10.4
