aniso8601==0.82
Flask==0.10.1
Flask-Bootstrap==3.3.7.1
Flask-RESTful==0.2.12
Flask-Uploads==0.2.1
gunicorn==19.5.0
idna==2.6
itsdangerous==0.24
jieba==0.39
Jinja2==2.7.3
numpy==1.14.3
Pillow==5.1.0
pipenv==2018.5.18
Werkzeug==0.15.3
WTForms==2.1
