Python 2.7.12
aniso8601==0.82
Flask==0.10.1
Flask-Bootstrap==3.3.7.1
-e git://github.com/FelixLoether/flask-uploads@60b9f5ff78a2aba31dcc7dd9f7f0923ee76d1732#egg=Flask_Image_Upload_Thing
Flask-RESTful==0.2.12
Flask-Uploads==0.2.1
gunicorn==19.0.0
idna==2.6
itsdangerous==0.24
jieba==0.39
Jinja2==2.7.3
numpy==1.14.3
opencv-contrib-python==3.4.0.14
pipenv==2018.5.18
Werkzeug==0.9.6
WTForms==2.1
